#modal {
	background: rgba(0, 0, 0, 0.9);
	color: #fff;
	position: fixed;
	top: -220vh;
	left: 0;
	height: 100%;
	width: 100%;
	transition: all 0.5s;
	z-index: 10;
}
#modal-menu {
	width: 90%;
	height: 80%;
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	margin: auto;
	font-size: 1.5em;
	text-align: center;
}
#mostrar-modal {
	display: none;
}

#mostrar-modal + label {
	color: #212529;
	background-color: #f8f9fa;
	display: table;
	line-height: 2.4;
	padding: 0 1em;
	text-transform: uppercase;
	cursor: pointer;
}
#mostrar-modal + label:hover {
	background: #e2e6ea;
}

#mostrar-modal:checked ~ #modal {
	top: 0;
}

#cerrar-modal {
	display: none;
}
#cerrar-modal + label {
	position: absolute;
	right: 1em;
	z-index: 100;
	color: #fff;
	font-weight: bold;
	cursor: pointer;
	background: tomato;
	width: 25px;
	height: 25px;
	line-height: 25px;
	text-align: center;
	border-radius: 50%;
	transition: all 0.5s;
	top: 3%;
}

.contenedorMenu {
	line-height: 1 !important;
	background-color: #24252d;
	height: 60px;
	border-radius: 15px;
	color: white;
	margin: 20px 40px 0px 40px;
	list-style: none;
	padding: 1rem !important;
}

.divLogout {
	width: 100%;
	position: absolute;
	top: 89%;
	text-align: center;
	border-top: 1px solid #ffffff21;
}
.contenedorLogout {
	line-height: 1 !important;
	background-color: #24252d;
	border-radius: 15px;
	color: white;
	margin: 10px 40px 0px 40px;
	list-style: none;
	padding: 1rem !important;
}
.contenedorLogout span {
	font-size: 20px;
}
.contenedorMenu span {
	font-size: 20px;
}
.cerrarModal {
	top: -220vh !important;
}
.contenedorSesion {
	margin: 5px 40px 0px 40px;
	padding: 1rem !important;
	font-size: 20px;
  border-bottom: 1px solid #ffffff21;
}
.contenedorSesion span{
  margin-left:10px
}
.separadorMenu{
  border-bottom: 1px solid #ffffff21;
}
#close-modal + label {
	/*position:absolute;*/
	position: fixed;
}
#lblModal {
	display: none !important;
}

@media (max-width: 768px) {
	#lblModal {
		display: block !important;
	}
}
